{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        
        <h2 class="pb-2 mb-4 border-bottom">
            List vocabulary
        </h2>

        <div class="alert alert-success" role="alert">
        Create a new vocabulary. 
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          New vocabulary
        </button>
        
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create vocabulary</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="col-md-4">
                            <label class="form-label">List Word</label>
                            <select class="form-select" name="listWord">
                                {% for list in list_words %}
                                <option>{{list}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Word</label>
                            <input type="text" class="form-control" name="word">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Word type</label>
                            <select class="form-select" name="type">
                                <option selected>noun</option>
                                <option>verb</option>
                                <option>adj</option>
                                <option>adv</option>
                                <option>pronoun</option>
                                <option>preposition</option>
                                <option>conjunction</option>
                                <option>interjection</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Level</label>
                            <select class="form-select" name="level">
                                <option>A1</option>
                                <option>A2</option>
                                <option>B1</option>
                                <option selected>B2</option>
                                <option>C1</option>
                                <option>C2</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label class="form-label">Pronunciation</label>
                            <input type="text" class="form-control" name="pronunciation">
                        </div>
                        <div class="col-12">
                            <label class="form-label">Image URL</label>
                            <input type="text" class="form-control" name="image">
                        </div>
                        <div class="col-12">
                            <labelclass="form-label">Definition</labelclass>
                            <textarea class="form-control" rows="2" name="definition"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Meaning</label>
                            <input type="text" class="form-control" name="meanning">
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Example</label>
                            <input type="text" class="form-control" name="example">
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Note</label>
                            <textarea class="form-control" rows="2" name="note"></textarea>
                        </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button submit" class="btn btn-primary">Create</button>
                    </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
  

        <div class="container mt-5">
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="stat-box">
                        <h1 id="total-words">100</h1>
                        <p>Đã học</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat-box">
                        <h1 id="total-words">6</h1>
                        <p>Cần ôn tập</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat-box">
                        <h1 id="total-words">7</h1>
                        <p>Đã nhớ</p>
                    </div>
                </div>
            </div>
        </div>
           
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5>Title</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">8</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">20 words</span>
                                <span class="widget-49-meeting-time">10/1/2000</span>
                            </div>
                        </div>
                        <div class="widget-49-meeting-points">
                          Hello
                        </div>
                        <span>State</span>
                        <div class="progress-stacked">
                            <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                              <div class="progress-bar">2</div>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="30" aria-valuemin="0" aria-valuemax="10" style="width: 20%">
                              <div class="progress-bar bg-warning">3</div>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                              <div class="progress-bar bg-danger">5 </div>
                            </div>
                          </div>
                        <div class="widget-49-meeting-action">
                            <a href=""><button type="button" class="btn btn-outline-primary">Study</button></a>
                            <a href=""><button type="button" class="btn btn-outline-primary">Review</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
    </div>
    </div>

{% endblock content %}